body{
    background-image: linear-gradient(to right,pink 38%,white 62% );
}
h1{
    font-size: 5vh;
    color: rgb(19, 44, 1);

}
h3{
  font-size: 3vh;
  color: rgb(19, 44, 1);
}
#Welcome{
  position: relative;
  width: 50%;
  left: 31vw;

}
.div-kuva{
    width: 20vw;
    height: 20vh;
    position: absolute;
}
.kuva1{
    background-image: url(./Kuvat/kellot.JPG);
    background-position: center;
    background-size: cover;
    position: absolute;
    mix-blend-mode: normal;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.kuva2{
  background-image: url(./Kuvat/robotto.JPG);
  background-position: center;
  background-size: cover;
  position: absolute;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.kuva3{
  background-image: url(./Kuvat/paivakirja.JPG);
  background-position: center;
  background-size: cover;
  position: absolute;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.kuva4{
  background-image: url(./Kuvat/uutinen.JPG);
  background-position: center;
  background-size: cover;
  position: absolute;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.kuva5{
  background-image: url(./Kuvat/arvostelu.JPG);
  background-position: center;
  background-size: cover;
  position: absolute;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.divit{
    height: 40vh;
    width: 20vw;
    border: black solid 1px;
    position: relative;
    border-radius: 1rem;
    background-color: white;
}
.div-teksti{
    color: black;
    font-size: 1.2vw;
    position: absolute;
    top: 53%;
    width: 20vw;
    height: 4vh;
}
#flex{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 45vh;
    margin: auto;
    position: relative;
}
.whitetext{
    mix-blend-mode: difference;
}
.nappi{
    display: block;
    color: white;
    width: 7vw;
    height: 2vh;
    padding: 2vh;
    background-color: black;
    border-radius: 0.5rem;
    text-align: center;
    top: 32vh;
    left: 4.5vw;
    position: relative;
    transition: 0.5s ease;
}
.nappi:hover{
    background-color:pink;
    color:  rgb(0, 0, 0);
    
    
}
a{
text-decoration: none;
color: white;
}
.mySlides {
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

}
  
  /* Next & previous buttons */
  .prev{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: pink;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: white;
  }
  .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: pink;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color:violet
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: pink;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: white;
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }